<div class="jumbotron text-center">
	<h4>Create "<%= @mashup1 %>" or "<%= @mashup2 %>" using</h4>
		<% @apis.each do |api| %>
			<h2><%= api.name %></h2>
			<% unless api == @apis.last %>
				<h2>&</h2>
			<% end %>
		<% end %>
	<div class="row">
		<div class="col-md-6">
			<h2>
				<%= link_to "Challenge accepted!", new_mashup_path(apis: @api_ids), class: "btn btn-success btn-lg btn-block" %>
			</h2>
		</div>
		<div class="col-md-6">
			<h2>
				<%= link_to "I'm not worthy!", challenge_path, class: "btn btn-danger btn-lg btn-block"%>
			</h2>
		</div>
	</div>
<!-- 	<div class="row">
		<h5 class="text-muted">APIs per challenge</h5>
		<div class="btn-group">
		  <button type="button" class="btn btn-default">1</button>
		  <button type="button" class="btn btn-default">2</button>
		  <button type="button" class="btn btn-default">3</button>
		  <button type="button" class="btn btn-default">4</button>
		  <button type="button" class="btn btn-default">5</button>
		</div>
	</div> -->
</div>

<p>Need some info before making a decision? Here's some quick info on the APIs</p>
<table class="table table-hover">
	<thead>
		<th></th>
		<% @apis.each do |api| %>
			<th><%= api.name %></th>
		<% end %>
	</thead>
	<tbody>
		<tr>
			<td>API Homepage:</td>
			<% @apis.each do |api| %>
				<td><%= link_to api.url, api.url, target: "_blank" %></td>
			<% end %>
		</tr>
		<tr>
			<td>Developer key required:</td>
			<% @apis.each do |api| %>
				<td><%= api.requires_key.capitalize %></td>
			<% end %>
		</tr>
		<tr>
			<td>Mashups:</td>
			<% @apis.each do |api| %>
				<td><%= link_to "#{api.mashups.count} mashups with this API", api_mashups_path(api.id), target: "_blank" %></td>
			<% end %>
		</tr>
	</tbody>
</table>