<%= form_for @mashup, html: {role: "form"} do |f| %>
  <div class="form-group">
		<label for="name">Name</label>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<label for="url">URL</label>
		<%= f.text_field :url, class: "form-control" %>
	</div>
	<div class="form-group">
		<label for="apis">APIs used</label>
		<%= select_tag(:api_id, options_for_select(@api_list, selected: @selected), id: "multi-select", multiple: true, include_blank: true) %>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<%= f.text_area :description, class: "form-control", rows: "5" %>
	</div>
	<%= f.submit class: "btn btn-primary"%>
<% end %>