<!DOCTYPE html>
<html>
<head>
  <title>ApiMashup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/nav" %>
	<div class="container">
			<%= yield %>
	</div>
	<footer>
		<p class="text-right"><a href="#">Admin Login</a></p>
	</footer>

</body>
</html>
