<!DOCTYPE html>
<html>
<head>
  <title>ApiMashup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/nav" %>
	<div class="container">
			<%= yield %>
	</div>
	<footer>
		<p class="text-right">
			<% if current_user %>
				<%= link_to "Logout", logout_path %>
			<% else %>
				<%= link_to "Admin", login_path %>
			<% end %>
		</p>
	</footer>

</body>
</html>
